@import "./variables/fonts";
@import "./variables/themeColors";
@import "~bootstrap/scss/bootstrap";

.banner {
  background-color: $secondary;
  height: 80px;
}

.cover {
  object-fit: cover;
}

.spacer {
  margin-top: 12rem;
}

.active {
  border-top: 2px solid $primary;
  border-bottom: 2px solid $primary;
}

.blur {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
}
